span {
  font-size: 170px;
}

#first {
  color: #98c379;
}

#second {
  color: #56b6c2;
}

#third {
  color: #c6ad00;
}

#fourth {
  color: #b400b9;
}

#fifth {
  color: #c62d48;
}

.search {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d4dada;
  border-radius: 3px;
  box-shadow: none;
  vertical-align: bottom;
  box-sizing: border-box;
  overflow: visible;
  margin: 0;
}

.search:focus {
  border: 1px solid #07682c;
  outline: 0;
  outline-offset: -2px;
}

.search-btn {
  color: #7795f8;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-decoration: none;
  transition: all 0.15s ease;
  border: none;
}

.search.btn:hover {
  transform: translateY(-1px);
  box-shadow:
    0 7px 14px rgba(50, 50, 93, 0.1),
    0 3px 6px rgba(0, 0, 0, 0.08);
}

.search-btn:active {
  background-color: #f6f9fc;
  transform: translateY(1px);
  box-shadow:
    0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
}
